# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit / local configs
.streamlit/*.toml
.streamlit/*.json

# OS metadata
.DS_Store
Thumbs.db

# Logs
*.log

# Editor settings
.vscode/

# Temporary files
*.tmp
*.bak
